.containerr{
    /* background-color:#2a487f; */
    /* border: 2px solid red; */
    margin-top: 30px;
    margin-bottom: 30px;
    height: 950px;
    /* width: 900px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1px;
    column-gap: 1px;
}
.department{
    border: 1px solid #2a487f;
    /* background-color:white */
    /* height: 122px;
    width: 122px; */
    /* border: 1px solid red; */
    /* padding: 15px; */
    margin: 15px;
    background: linear-gradient(rgba(0,0,0,.1), #2a487f);
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* padding: 0 4rem; */
}
.department:hover{
    transform: scale(1.1);
}
.depa1{
    grid-row-start: 1;
    grid-row-end: 4 ;
}
.depa1 img{
    height: 100%;
    width: 366px;
}
.depa2 h5{
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 30px;
    color: white;
    font-size: 3rem;
} 
.depa2 img{
    height: 110px;
    width: 30%;
    margin-top: 30px;    
    /* margin-left: 170px; */
    /* border:2px solid #2a487f; */
}