/* html {
  font-size: 62.5%;
} */
/* a {
  text-decoration: none;
  font-weight: bold;
}
li {
  list-style: none;
} */
.main-nav {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
}
.logo {
  display: inline-table;
  width: 400px;
  display: flex;
  justify-content: center;
}
.logo img {
    width: 200px;
    height: 9rem;
    align-items: center;
}
.menu-link {
    /* margin-left: 150px; */
}
.link a:hover {
    border-bottom: #2a487f;
}
.menu-link ul {
    height: 9rem;
    display: flex;
    width: 650px;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    /* margin-left: 0px; */
}
.log_in {
  grid-column: 3/4;
  display: flex;
  width: 22%;
  justify-content: center;
  align-items: center;

}
.log_in button{
    /* height: 30px;
    padding: 10px 20px; */
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  margin-left: -30px;
  cursor: pointer;
}

.menu-link ul li {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  font-size: 130%;
}
ul li a {
  text-transform: capitalize;
  color: #2a487f;
  text-decoration: none;
  font-weight: bold;
}
.hamburger-menu {
    display: none;
    position: relative;
  }
/* @media (max-width: 1080px) {
  .main-nav {
    height: 10rem;
  }
  .logo {
    height: 9rem;
  }
  .menu-link ul {
    height: 11rem;
    align-items: center;
  }
  .log_in btn {
    height: 10rem;
  }
  
}


@media (max-width: 998px) {
  .main-nav {
    height: 7rem;
  }
  .logo,
  .log_in {
    height: 7rem;
  }
  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }
  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: flex;
    position: absolute;
    grid-column: 2/5;
    align-items: center;
    left: -125px;
    padding-left: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }
  .log_in {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }
  .hamburger-menu {
    display: block !important;
    font-size: 2.5rem;
    margin-left: 15px;
    margin-right: 15px;
}
  
}

@media (max-width: 798px) {
    .main-nav {
      height: 6rem;
    }
  
    .logo {
      height: 6rem;
    }
  
    .log_in {
      height: 6rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .hamburger-menu {
      display: block !important;
      font-size: 2.5rem;
    }
    
  }

  @media (max-width: 520px) {
    .main-nav {
      height: 6rem;
    }
  
    .logo {
      height: 6rem;
    }
  
    .log_in {
    height: 6rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .hamburger-menu {
      display: block !important;
      font-size: 2.5rem;
    }
  
  } */
