.bg {
    /* border: 1px solid green; */
    height: 200px;
}
.bg img {
    height: 190px;
    width: 300px;
    border-radius: 5px;
    opacity: 0.5;
}
.content {
    /* border: 1px solid blue; */
    height: 200px;
    
}
.content p {
    font-size: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(46, 162, 238);
    margin-left: -127px;
}
.col-4 {
    /* border: 2px solid black; */
    height: 100px;
    background-color: rgb(99, 181, 235);
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}
.head {
    font-size: 10px;
}
.par {
    font-size: 8px;
}