.bg {
  /* border: 1px solid green; */
  /* height: 200px; */
}
.bgb img {
  height: 720px;
  width: 100%;
  position: relative;
  /* border: 1px solid red; */
}
.bg {
  /* border: 1px solid red; */
  height: 200px;
}
.bgb p {
  position: absolute;
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
  color: #2a487f;
  right: 150px;
  top: 355px;
  /* border: 10px solid red; */
}
.box1 {
  border: 2px solid black;
  height: 200px;
  background-color: #2a487f;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid white;
  border-radius: 8px;
  /* border: 1px solid red; */
}
.head {
  font-size: 30px;
  text-align: center;
  /* border: 1px solid red; */
}
.par {
  font-size: 15px;
  /* padding: 10px; */
  /* border: 1px solid red; */
}
.SS {
  /* background-image: url("../../../public/image/bgig.jpg"); */
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 2px solid red; */
  height: 650px;
}
.service {
  color:#2a487f;
  padding-top: 50px;
  text-align: center;
  /* border: 1px solid red; */
  height: 100px;
}
.service h1 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  height: 100px;
  /* border: 1px solid red; */
}
.col-md-4.sr img {
  height: 70px;
  width: 70px;
  top: 10px;
  /* border: 2px solid red; */
}
.col-md-4.sr h4 {
  color:#2a487f;
  /* border: 2px solid red; */
}
.col-md-4.sr p {
color:#2a487f;
/* border: 2px solid red; */
}
.sr{
    border-right: 2px solid #2a487f;
    padding-left: 35px;
    /* border: 1px solid red; */
}
/* .col-md-4 h1 { */
/* text-align: center; */
/* font-size: 70px; */
/* color: #2a487f; */
/* margin-top: 100px; */
/* margin-bottom: 100px; */
/* font-family: "Times New Roman", Times, serif; */